	
					
{% extends "elayouts/base2.html" %}
{% load static %}
{% load humanize %} 


{% block title %}Mpesa Withdrawal{% endblock %}


    
    {% block content %} 

    
    <!-- Contact In start -->
    <section class="contact-section">
        <div class="overlay">
            <div class="container bg-area">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h2 class="title">Mpesa Withdrawal</h2>
                            <p>You can withdrawal upto KES {{user.accounts.balance}}.Your withdrawal will be send to {{user.phone_number}}</p>
                            <a href="{% url 'users:profile' %}" class="cmn-btn">Update Phone.No</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="form-content">                      
                            <form action="{% url 'accounts:mpesa_withrawal'%}" method="post">
                            	{% csrf_token %}
                                <div class="row justify-content-center">
               
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <label for="id_amount">Amount(KES)</label>
                                            <input type="number" name="amount"  placeholder="amount here" step="1"  min="100"   max="{{user.accounts.balance}}" required id="id_amount"> 
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6 col-10">
                                        <div class="btn-border w-100 mt-40">
                                            <button  type="submit" class="cmn-btn w-100">Withdraw</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact In end -->    


{% endblock content %}
	

	
