{% extends "elayouts/base.html" %}
{% load static %}

{% block content %}
             <h1>Bids</h1>

        
        <table >
        <tbody>
        
        
        
{% for b in bid_list %}


<tr><td >
	<a href="/dashboard/job-list/{{ j.id }}" >
	
		<i ></i>
		<span>{{ b.job.sub_category }}</span>
	</a>
</td>

<td>
	<span>{{ b.bidder}}</span>
</td>
<td>
	<span>{{ b.job.title }}</span>
</td>
<td >
	<span>{{ b.job.tprice }}</span>
</td>


<td >
	<time>{{ b.job.time_remaining }}</time>
</td>
<td >
	<time>{{ b.accept }}</time>
</td>

<td ></td>

</tr>
{% empty %}

<li>No Bids placed.</li>

{% endfor %}
</tbody>

</table>


{% endblock content %}
