{% extends "elayouts/base2.html" %}
{% load static %}
{% load humanize %} 
{% block content %}
          



			<div class="card mb-3">
			  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(/static/assets/img/icons/spot-illustrations/corner-4.png);"></div>
			  <!--/.bg-holder-->
			  <div class="card-body position-relative">
				<div class="row">
				  <div class="col-lg-8">
					<h3>MY BIDS</h3>
				  </div>
				</div>
			  </div>
			</div>


			<div class="card mb-3">
			  <div class="card-header border-bottom">
				<div class="row flex-between-end">
				  <div class="col-auto align-self-center">

					
				  </div>
				
				</div>
			  </div>
			  <div class="card-body pt-0">
				<div class="tab-content">
				  <div class="tab-pane preview-tab-pane active show" role="tabpanel" aria-labelledby="tab-dom-a0cc4f30-2a10-4ef8-ae2b-c45cded0cbf8" id="dom-a0cc4f30-2a10-4ef8-ae2b-c45cded0cbf8">
					<div class="table-responsive scrollbar">
					  <table class="table table-hover table-striped overflow-hidden">
						<thead>
						  <tr>
							<th scope="col">Employer</th>
							<th scope="col">Sub category</th>
							<th scope="col">Title</th>
							<th class="text-end" scope="col">Total Price</th>
				
							<th scope="col">Delete Bid</th>
							<th scope="col">Approved</th>
							<th scope="col">Accept</th>
							
						  </tr>
						</thead>
						<tbody>
						{% for j in bid_list %}

						  <tr class="align-middle">
							<td class="text-nowrap">
							  <div class="d-flex align-items-center">
								<!-- <div class="avatar avatar-xl">
								  <img class="rounded-circle" src="./Falcon _ Dashboard &amp; Web App Template_files/4.jpg" alt="">
								</div> -->
								<div class="ms-2">{{ j.job.employer}}</div>
							  </div>
							</td>

							
							<td class="text-nowrap">
									<span>{{ j.job.sub_category }}</span>							
							</td>
							
							<td class="text-nowrap">{{ j.job.title }}</td>
							<td class="text-end">KES:{{ j.job.tprice }}</td>
							
						
						
							
									        <td  class="text-nowrap">
          <div>
          <form action="{% url 'dashboard:delete_bid' j.job.id %}" method="post">{% csrf_token %}
          <button class="btn btn-link p-0 ms-2" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></button>
          </form>          
          </div>
        </td>			
							
		{% if j.approve %}
							<td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Approved<svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --></span></td>
							


							<td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">
							<form action="{% url 'dashboard:accept_bid' j.id %}" method="post">{% csrf_token %}
         
          <input type="submit"  value="ACCEPT NOW" required>
          </form>
							
							<svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --></span></td>
							
							
								
							
							
							
							

														
							
							{% endif %}
		{% if not j.approve %}
							<td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Not Yet<svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --></span></td>
							
							
							<td>
	
							

								
								
						  </tr>	
						  
							</td>		
							{% endif %}							
							{% endfor %}
							
							
				
						</tbody>
					  </table>
					</div>
				  </div>
				

				  </div>
				</div>
			  </div>
			</div>

			

	
  

{% endblock content %}
