<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Static assets -->
    {% load static %}
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eltask|{% block title %}Home{% endblock %}</title>


<link rel="stylesheet"  href="/static/eltask/css">
<link rel="stylesheet"  href="/static/eltask/fontawesome.min.css">
<link rel="stylesheet"  href="/static/eltask/solid.min.css">
<link rel="stylesheet" href="/static/eltask/fancybox.min.css">
<link rel="stylesheet"  href="/static/eltask/slick.min.css">
<link rel="stylesheet" href="/static/eltask/flatpickr.min.css">
<link rel="stylesheet" href="/static/eltask/select2.min.css">
<link rel="stylesheet" href="/static/eltask/intlTelInput.min.css">
<link rel="stylesheet" href="/static/eltask/jquery-ui.min.css">
<link rel="stylesheet" href="/static/eltask/grid.min.css">
<link rel="stylesheet" href="/static/eltask/common.min.css">
<link rel="stylesheet" href="/static/eltask/frontend.min.css">
<link rel="stylesheet" href="/static/eltask/frontend.min(1).css">
<link rel="stylesheet" href="/static/eltask/frontend.min(2).css">
<link rel="stylesheet" href="/static/eltask/frontend.min(3).css">
<link rel="stylesheet" href="/static/eltask/frontend.min(4).css">
<link rel="stylesheet" href="/static/eltask/style.min.css">


<link rel="stylesheet" id="wc-blocks-vendors-style-css" href="/static/eltask/wc-blocks-vendors-style.css" media="all">
<link rel="stylesheet" id="wc-blocks-style-css" href="/static/eltask/wc-blocks-style.css" media="all">
<link rel="stylesheet" id="classic-theme-styles-css" href="/static/eltask/classic-themes.min.css" media="all">

<link rel="stylesheet" id="woocommerce-layout-css" href="/static/eltask/woocommerce-layout.css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="/static/eltask/woocommerce-smallscreen.css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="woocommerce-general-css" href="/static/eltask/woocommerce.css" media="all">
<style id="woocommerce-inline-inline-css">
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" id="minireset-css" href="/static/eltask/minireset.min.css" media="all">
<link rel="stylesheet" id="flexboxgrid-css" href="/static/eltask/flexboxgrid.min.css" media="all">
<link rel="stylesheet" id="hivetheme-core-frontend-css" href="/static/eltask/frontend.min(5).css" media="all">

<link rel="stylesheet" id="hivetheme-parent-frontend-css" href="/static/eltask/style.css" media="all">



  <link rel="stylesheet" href="/static/winza/css/slick.css">
    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>



{% block header %}
			<header class="site-header">
				<div class="header-navbar">
					<div class="header-navbar__start">
						<div class="header-logo">
							<a href="https://taskhive.hivepress.io/" class="custom-logo-link" rel="home"><img width="155" height="40" src="/static/eltask/logo.svg" class="custom-logo" alt="TaskHive" decoding="async"></a>						</div>
					</div>
					<div class="header-navbar__middle">
						<nav class="header-navbar__menu" data-component="menu">
							<ul id="menu-header-menu" class="menu"><li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-86"><a href="https://taskhive.hivepress.io/">Home</a></li>
<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="https://taskhive.hivepress.io/services/">Services</a></li>
<li id="menu-item-657" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-657"><a href="https://taskhive.hivepress.io/requests/">Requests</a></li>
<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-112 parent"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-hp_listing menu-item-113"><a href="https://taskhive.hivepress.io/listing/engaging-and-share-worthy-facebook-posts-articles/">Service Page</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-hp_vendor menu-item-114"><a href="https://taskhive.hivepress.io/vendor/thomas/">Freelancer Page</a></li>
	<li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115 parent"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Dropdown Menu</a>
	<ul class="sub-menu">
		<li id="menu-item-116" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"><a href="https://taskhive.hivepress.io/submit-listing/details/#">First Item</a></li>
		<li id="menu-item-117" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Second Item</a></li>
		<li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-118"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Third Item</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-87"><a href="https://taskhive.hivepress.io/blog/">Blog</a></li>
</ul>						</nav>
					</div>
					<div class="header-navbar__end">
						<div class="header-navbar__burger" data-component="burger">
							<a href="https://taskhive.hivepress.io/submit-listing/details/#"><i class="fas fa-bars"></i></a>
							<ul id="menu-header-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-86"><a href="https://taskhive.hivepress.io/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="https://taskhive.hivepress.io/services/">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-657"><a href="https://taskhive.hivepress.io/requests/">Requests</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-112 parent"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Pages</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-hp_listing menu-item-113"><a href="https://taskhive.hivepress.io/listing/engaging-and-share-worthy-facebook-posts-articles/">Service Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-hp_vendor menu-item-114"><a href="https://taskhive.hivepress.io/vendor/thomas/">Freelancer Page</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115 parent"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Dropdown Menu</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"><a href="https://taskhive.hivepress.io/submit-listing/details/#">First Item</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Second Item</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-118"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Third Item</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-87"><a href="https://taskhive.hivepress.io/blog/">Blog</a></li>
</ul>						</div>
													<div class="header-navbar__actions">
								<div class="hp-menu hp-menu--site-header hp-menu--main">	<a href="https://taskhive.hivepress.io/account/" class="hp-menu__item hp-menu__item--user-account hp-link">
		<i class="hp-icon fas fa-user"></i>
		<span>demo</span>
			</a>
<a href="https://taskhive.hivepress.io/submit-request/?vendor_id=0" class="hp-menu__item hp-menu__item--request-submit hp-link">
	<i class="hp-icon fas fa-file-alt"></i>
	<span>Post a Request</span>
</a>
	<button type="button" class="hp-menu__item hp-menu__item--listing-submit button button--secondary" data-component="link" data-url="https://taskhive.hivepress.io/submit-listing/" style="box-shadow: rgba(61, 130, 240, 0.35) 0px 5px 21px;"><i class="hp-icon fas fa-plus"></i><span>List a Service</span></button>
	</div>							</div>
											</div>
				</div>
							</header>





{% endblock header %}

{% block content %}{% endblock content %}
  
{% block footer %}
		<footer class="site-footer">
			<div class="container">
									<div class="footer-widgets">
						<div class="row">
							<div class="col-sm col-xs-12"><div id="text-3" class="widget widget--footer widget_text">			<div class="textwidget"><p><img decoding="async" src="/static/eltask/logo.png" alt="TaskHive"></p>
<p>More than 10,000 freelancers to perform your any kind of task.</p>
</div>
		</div></div><div class="col-sm col-xs-12"><div id="nav_menu-5" class="widget widget--footer widget_nav_menu"><h5 class="widget__title">Services</h5><div class="menu-services-container"><ul id="menu-services" class="menu"><li id="menu-item-154" class="menu-item menu-item-type-taxonomy menu-item-object-hp_listing_category menu-item-154"><a href="https://taskhive.hivepress.io/listing-category/design-graphics/">Design &amp; Graphics</a></li>
<li id="menu-item-155" class="menu-item menu-item-type-taxonomy menu-item-object-hp_listing_category menu-item-155"><a href="https://taskhive.hivepress.io/listing-category/digital-marketing/">Digital Marketing</a></li>
<li id="menu-item-156" class="menu-item menu-item-type-taxonomy menu-item-object-hp_listing_category menu-item-156"><a href="https://taskhive.hivepress.io/listing-category/tech-programming/">Tech &amp; Programming</a></li>
</ul></div></div></div><div class="col-sm col-xs-12"><div id="categories-4" class="widget widget--footer widget_categories"><h5 class="widget__title">Blog</h5>
			<ul>
					<li class="cat-item cat-item-30"><a href="https://taskhive.hivepress.io/category/community/">Community</a>
</li>
	<li class="cat-item cat-item-31"><a href="https://taskhive.hivepress.io/category/inspiration/">Inspiration</a>
</li>
	<li class="cat-item cat-item-32"><a href="https://taskhive.hivepress.io/category/tips-tricks/">Tips &amp; Tricks</a>
</li>
			</ul>

			</div></div><div class="col-sm col-xs-12"><div id="nav_menu-6" class="widget widget--footer widget_nav_menu"><h5 class="widget__title">Social</h5><div class="menu-social-container"><ul id="menu-social" class="menu"><li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Facebook</a></li>
<li id="menu-item-161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Twitter</a></li>
<li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-162"><a href="https://taskhive.hivepress.io/submit-listing/details/#">LinkedIn</a></li>
</ul></div></div></div>						</div>
					</div>
								<div class="footer-navbar">
											<div class="footer-navbar__start">
							<div class="footer-navbar__copyright">
								© 2022 ElTask							</div>
						</div>
										<div class="footer-navbar__end">
						<nav class="footer-navbar__menu">
							<ul id="menu-footer-menu" class="menu"><li id="menu-item-227" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-227"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Terms of Use</a></li>
<li id="menu-item-228" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-228"><a href="https://taskhive.hivepress.io/submit-listing/details/#">Privacy Policy</a></li>
</ul>						</nav>
					</div>
				</div>
			</div>
		</footer>

{% endblock footer %}


			<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
	<script src="/static/eltask/core.min.js" id="jquery-ui-core-js"></script>
<script src="/static/eltask/mouse.min.js" id="jquery-ui-mouse-js"></script>
<script src="/static/eltask/jquery.ui.touch-punch.min.js" id="jquery-ui-touch-punch-js"></script>
<script src="/static/eltask/jquery.fileupload.min.js" id="fileupload-js"></script>
<script src="/static/eltask/jquery.fancybox.min.js" id="fancybox-js"></script>
<script src="/static/eltask/slick.min.js" id="slick-js"></script>
<script src="/static/eltask/jquery.sticky-sidebar.min.js" id="sticky-sidebar-js"></script>
<script src="/static/eltask/php-date-formatter.min.js" id="php-date-formatter-js"></script>
<script src="/static/eltask/flatpickr.min.js" id="flatpickr-js"></script>
<script src="/static/eltask/select2.full.min.js" id="select2-full-js"></script>
<script src="/static/eltask/intlTelInput.min.js" id="intl-tel-input-js"></script>
<script src="/static/eltask/sortable.min.js" id="jquery-ui-sortable-js"></script>
<script id="hivepress-core-js-extra">
var hivepressCoreData = {"apiURL":"https:\/\/taskhive.hivepress.io\/wp-json\/hivepress\/v1","apiNonce":"8d7a861d5a","language":"en"};
</script>
<script src="/static/eltask/common.min.js" id="hivepress-core-js"></script>
<script src="/static/eltask/slider.min.js" id="jquery-ui-slider-js"></script>
<script src="/static/eltask/imagesloaded.min.js" id="imagesloaded-js"></script>
<script src="/static/eltask/frontend.min.js" id="hivepress-core-frontend-js"></script>
<script src="/static/eltask/jquery.raty.min.js" id="raty-js"></script>
<script src="/static/eltask/frontend.min(6).js" id="hivepress-reviews-frontend-js"></script>
<script src="/static/eltask/jquery.blockUI.min.js" id="jquery-blockui-js"></script>
<script id="wc-add-to-cart-js-extra">
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/taskhive.hivepress.io\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
</script>
<script src="/static/eltask/add-to-cart.min.js" id="wc-add-to-cart-js"></script>
<script src="/static/eltask/js.cookie.min.js" id="js-cookie-js"></script>
<script id="woocommerce-js-extra">
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
</script>
<script src="/static/eltask/woocommerce.min.js" id="woocommerce-js"></script>
<script id="wc-cart-fragments-js-extra">
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_94a1c004407f7e88d3aa2f8b60015bb0","fragment_name":"wc_fragments_94a1c004407f7e88d3aa2f8b60015bb0","request_timeout":"5000"};
</script>
<script src="/static/eltask/cart-fragments.min.js" id="wc-cart-fragments-js"></script>
<script src="/static/eltask/en.js" id="select2-en-js"></script>
<script src="/static/eltask/focus-visible.min.js" id="focus-visible-js"></script>
<script src="/static/eltask/hoverIntent.min.js" id="hoverIntent-js"></script>
<script src="/static/eltask/comment-reply.min.js" id="comment-reply-js"></script>
<script src="/static/eltask/frontend.min(7).js" id="hivetheme-core-frontend-js"></script>
<script src="/static/eltask/circle-progress.min.js" id="circle-progress-js"></script>
<script src="/static/eltask/frontend.min(8).js" id="hivetheme-parent-frontend-js"></script>   
{% block javascripts %}{% endblock javascripts %}

</body></html>
